1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

*,-,/,+ are expressions
'hello', -87.8, 6 are values

2. What is the difference between string and variable?

In [9]:
"""
string: string is a python data type, which contains sequence of characters or character.They are created by enclosing chracters by quotes and string
can start with alphabets and  digits not with special characters.It should contain only alphabets,numbers,_ .  
  example:
         "kp_123"

variable: It is a named python location to store data in memory.
  example:
       a=5
"""

'\nstring: string is a python data type, which contains sequence of characters or character.They are created by enclosing chracters by quotes and string\ncan start with alphabets , but not with digits and special characters.It should contain only alphabets,numbers,_ .  \n  example:\n         "kp_123"\n\nvariable: It is a named python location to store data in memory.\n  example:\n       a=5\n'

3. Describe three different data types.

In [11]:
"""
1.INTEGER:
     It is a data type which contain whole numbers.It can be positive or negative.
EXAMPLE:
     a = 450
2.FLOAT:
     It is a data type which contain decimal points.
EXAMPLE:
     b = 4.50
3.STRING:
    It is a data type which contains sequence of characters.It is enclosed with single or double quotes.
EXAMPLE:
   "priya ganith"
"""

'\n1.INTEGER:\n     It is a data type which contain whole numbers.It can be positive or negative.\nEXAMPLE:\n     a = 450\n2.FLOAT:\n     It is a data type which contain decimal points.\nEXAMPLE:\n     b = 4.50\n3.STRING:\n    It is a data type which contains sequence of characters.It is enclosed with single or double quotes.\nEXAMPLE:\n   "priya ganith"\n'

4. What is an expression made up of? What do all expressions do?

In [12]:
"""
expression is made up of arithmetical operators.And they do mathematical calculations. 
For example: 
    2*3
    2+3
"""

'\nexpression is made up of arithmetical operators.And they do mathematical calculations. \nFor example: \n    2*3\n    2+3\n'

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [14]:
"""
EXPRESSION:
    expression is made up of arithmetical operators.And they do mathematical calculations.
STATEMENTS:
   A statemnet is a logical instruction that python interpreter can read and execute.In general it performs some action.
"""

'\nEXPRESSION:\n    expression is made up of arithmetical operators.And they do mathematical calculations.\nSTATEMENTS:\n   A statemnet is a logical instruction that python interpreter can read and execute.In general it performs some action.\n'

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [17]:
"""
answer is 22. Becoz we didnot change the value of bacon
"""

'\nanswer is 22. Becoz we didnot change the value of bacon\n'

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [38]:
"""
both will give same result that is 'spamspamspam'
"""

"\nboth will give same result that is 'spamspamspam'\n"

8. Why is eggs a valid variable name while 100 is invalid?

In [21]:
"""We cannot assign values to digits. Thats the reason 100 is invalid."""

'We cannot assign values to digits. Thats the reason 100 is invalid.'

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [39]:
"""
int,float,str are the three functions to get the integer, floating-point number, or string version of a value.
"""

'\nint,float,str are the three functions to get the integer, floating-point number, or string version of a value.\n'

10. Why does this expression cause an error? How can you fix it?
'i have eaten '+ 99 + ' burritos'

In [31]:
#'i have eaten'+99+' burritos'
# 99 is integer,remaining are string, we cannot concatenate str and int . instead of 99,we can use'99'.
'i have eaten ' + '99' +' burritos'

'i have eaten 99 burritos'